<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    <title>Map</title>
</head>

<body>
<div id="mapid" style="height: 700px;" }></div>


<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="">
</script>

<script th:inline="javascript">

    const apiToken = [[${apiToken}]]
    const startLat = [[${startLat}]];
    const startLon = [[${startLon}]];
    const zoom = [[${zoom}]];
    let points = [[${points}]];
    console.log(points.length);     // TEST

    let mymap = L.map('mapid').setView([startLat, startLon], zoom);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11', // mapbox/streets-v11 or mapbox/satellite-v9
        tileSize: 512,
        zoomOffset: -1,
        accessToken: apiToken,
    }).addTo(mymap);

    points.forEach(point => {
        let marker = L.marker([point.lat, point.lon]).addTo(mymap);
        console.log(point);   // TEST
        marker.bindPopup(point.description);
    })

    /*
    let popup = L.popup();
    function onMapClick(e) {
        popup
            .setLatLng(e.latlng)
            .setContent("You clicked the map at " + e.latlng.toString())
            .openOn(mymap);
    }

    mymap.on('click', onMapClick);
     */

</script>
</body>

</html>