<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <title>Map</title>
</head>

<body style="font-family: Helvetica, serif;">
<div class="container ml-5 px-0">
    <h2>COVID-19 MAP</h2>
</div>

<div class="container ml-5 px-0">
    <a class="btn btn-primary" th:href="@{/get-map-europe}" th:method="get" href="#" role="button">Filter Europe</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterByCountryModal"
            id="filterByCountryButton">
        Filter by country
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#getHistoryModal"
            id="getHistoryButton">
        Get History
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#aboutApplication"
            id="aboutApplicationButton">
        About
    </button>
    <div th:switch="${notFoundMsg}">
        <p class="mb-2" th:case="true" style="color: red">Country not found. Try again.</p>
        <p class="mb-2" th:case="*"></p>
    </div>
</div>

<div class="mx-5" id="mapid" style="height: 600px;"></div>

<footer class="page-footer pt-2" style="font-size: 0.8rem">
    <!-- Copyright -->
    <div class="footer-copyright text-center">© 2021 Copyright:
        <a href="https://github.com/Pozadr" target="_blank">Pozadr</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- MODAL: About app  -->
<div class="modal fade" id="aboutApplication" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <form>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="aboutApplicationTitle">About</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text" style="text-align: justify; text-justify: inter-word;">
                        Visualisation of COVID-19 data from
                        <a href="https://github.com/CSSEGISandData/COVID-19" target="_blank">
                        Johns Hopkins University.</a>
                        The data is updated automatically every day as data for the&nbsp;previous day.
                        If Johns Hopkins University has not updated the&nbsp;previous day's data, then the data taken two
                        days ago is&nbsp;downloaded. User can show  statistic of a&nbsp;country or all European countries on
                        a map. There is also a feature to visualise historical data on a&nbsp;chart. The application uses
                        <a href="https://account.mapbox.com" target="_blank">
                            Mapbox service</a> to display the map.
                        Use the <a href="https://leafletjs.com" target="_blank">
                        Leaflet</a> to add markers with a&nbsp;description on the&nbsp;map.
                        <a href="https://developers.google.com/chart/" target="_blank">
                            Google charts.</a> were used to draw a&nbsp;graph from the&nbsp;downloaded data.
                        <br>
                        <br>
                        <footer class="footer">
                            <!-- Copyright -->
                            <div class="footer-copyright" style="font-size: 0.8rem">
                                Check my other projects on
                                <a href="https://github.com/Pozadr" target="_blank"> Github/Pozadr.</a>
                            </div>
                            <!-- Copyright -->
                        </footer>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- MODAL: Filter by country -->
<div class="modal fade" id="filterByCountryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <form th:action="@{/get-map-by-country}" th:method="get">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterByCountryModalCenterTitle">Filter by country</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="getByCountry" class="col-form-label">Country</label>
                        <input type="text" class="form-control" id="getByCountry" placeholder="Type country"
                               name="country">
                        <p id="getByCountryMessage" style="color: red;">
                            **Country input is missing.
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="submitFilterByCountry">Filter</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- MODAL: Get History  -->
<div class="modal fade" id="getHistoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <form th:action="@{/get-history}" th:method="get">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterByDateCenterTitle">Get Covid-19 history</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="getHistory" class="col-form-label">Country</label>
                        <input type="text" class="form-control" id="getHistory" placeholder="Type country"
                               name="country">
                        <p id="getHistoryCountryMessage" style="color: red;">
                            **Country input is missing.
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="submitGetHistory">Filter</button>
                </div>
            </div>
        </div>
    </form>
</div>


<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/validation.js}"></script>

<script type="text/javascript" th:inline="javascript">
    const apiToken = [[${apiToken}]]
    const startLat = [[${startLat}]];
    const startLon = [[${startLon}]];
    const zoom = [[${zoom}]];
    let points = [[${points}]];

    let mymap = L.map('mapid').setView([startLat, startLon], zoom);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11', // mapbox/streets-v11 or mapbox/satellite-v9
        tileSize: 512,
        zoomOffset: -1,
        accessToken: apiToken,
    }).addTo(mymap);

    points.forEach(point => {
        let marker = L.marker([point.lat, point.lon]).addTo(mymap);
        console.log(point);   // TEST
        marker.bindPopup(point.description);
    })
</script>
</body>

</html>